/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,body{
    height: 100%
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

@font-face {
    font-family: tangerine;
    src: url('../fonts/tangerine_regular.ttf');
}

@font-face {
    font-family: urban;
    src: url('../fonts/urban-elegance-regular.ttf');
}

@font-face {
    font-family: urban;
    src: url('../fonts/urban-elegance-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: amperzand;
    src: url('../fonts/amperzand.ttf');
}

/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.jumbotron {
  text-align: center;
  background-color: #764c75;
  color: white;
}

.jumbotron h1 {
  font-family: amperzand;
  font-weight: normal;
  font-size: 700%;
}

.jumbotron p {
  text-align: left;
  font-size: 125%;
  color: white;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.marketing {
    min-height: 100%;
}

.marketing p {
  text-align: left;
  font-family: urban;
  font-weight: normal;
  font-size: 110%;
}

.input-group-addon {
  font-family: urban;
}

#addInviteRSVP {
  display : none;
}

.spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
    padding-bottom: 50px;
    position: relative;
    width:100%;
    padding-right: 20px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
    .jumbotron h1{
    font-size: 300%;
  }

  .jumbotron p{
    display: none;
  }

  .col-md-1 {
  margin-right: 0px;
}

  .marketing {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }

.leftspacer {
  margin-left: 0px;
}

.negative-spacer {
  margin-right: 0px;
}

.positive-spacer {
  margin-right: 0px;
}

.positive-spacer-br {
  margin-right: +0px;
}

.bspacer {
  margin-bottom: +30px;
}

.upspacer {
  margin-top: 0px;
}

.rspacer {
  margin-left: +15px;
}

.radio-top-spacer {
  margin-top: -0px;
}

  #content .modal.fade.in {
    top: 5%;
  }  

}

@media (max-width: 992px) {
 
}
